ARG PROJ_NAME="MUST SET"

FROM rust:alpine AS build
ARG PROJ_NAME

ENV RUSTFLAGS="-C target-feature=-crt-static"
RUN apk update
RUN apk add --no-cache musl-dev
RUN apk add curl
RUN apk add lld clang


# Include any ImgCat libraries
WORKDIR /app
COPY /libs/ic_jwt libs/ic_jwt
COPY /libs/ic_actix libs/ic_actix

# Build process
WORKDIR ${PROJ_NAME}
COPY /${PROJ_NAME}/Cargo.toml ./Cargo.toml
COPY /${PROJ_NAME}/Cargo.lock ./Cargo.lock
COPY /${PROJ_NAME}/src ./src


# Copy rust lib dependencies
RUN --mount=type=cache,target=/app/target/deps/ \
	--mount=type=cache,target=/usr/local/cargo/registry/ \
	cargo fetch

# Build application
RUN --mount=type=cache,target=/app/target/deps/ \
	--mount=type=cache,target=/app/target/build/ \
	--mount=type=cache,target=/app/target/incremental/ \
	--mount=type=cache,target=/usr/local/cargo/registry/ \
	cargo build --release


RUN strip target/release/${PROJ_NAME}


FROM alpine AS runtime
ARG PROJ_NAME
RUN apk add --no-cache libgcc
# app specific environment variables
ENV APP_ENVIRONMENT=prod
#ENV RUST_BACKTRACE=1
#ENV RUST_LOG=actix_web=debug


# copy the binary, and config folders
WORKDIR /app
COPY --from=build /app/${PROJ_NAME}/target/release/${PROJ_NAME} ./main

ENTRYPOINT ["./main"]
EXPOSE 8080/tcp