ARG PROJ_NAME="softmod_actions"

FROM rust:alpine AS build
ARG PROJ_NAME

ENV RUSTFLAGS="-C target-feature=-crt-static"
RUN apk update
RUN apk add --no-cache musl-dev
RUN apk add curl
RUN apk add lld clang


# Build dependencies only
WORKDIR /app
WORKDIR ${PROJ_NAME}
COPY ./Cargo.toml ./Cargo.toml
COPY ./Cargo.lock ./Cargo.lock
COPY ./src ./src

RUN --mount=type=cache,target=/app/target/deps/ \
    --mount=type=cache,target=/usr/local/cargo/registry/ \
	cargo fetch

# We want to IGNORE any specified IC_DB_HOST and set it to the Docker pool
ENV IC_DB_HOST=localhost
ENV IC_DB_PORT=8081

# Build application
RUN --mount=type=secret,id=ic-db-user,env=IC_DB_USER \
    --mount=type=secret,id=ic-db-pass,env=IC_DB_PASS \
    --mount=type=cache,target=/app/target/deps/ \
    --mount=type=cache,target=/usr/local/cargo/registry/ \
    cargo build --release --features use_mariadb


RUN strip target/release/${PROJ_NAME}


FROM alpine AS runtime
ARG PROJ_NAME
RUN apk add --no-cache libgcc
# app specific environment variables
ENV APP_ENVIRONMENT=prod
#ENV RUST_BACKTRACE=1
#ENV RUST_LOG=actix_web=debug
# copy the binary, and config folders
WORKDIR /app
COPY --from=build /app/${PROJ_NAME}/target/release/${PROJ_NAME} ./main

ENTRYPOINT ["./main"]
EXPOSE 8080/tcp